p{
	padding: 10px;
	background-color: #f00;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	display: block;
	text-align: center;
	width: 500px;
	margin: 25px auto;
}
button{
	margin: 30px auto;
	padding: 5px;
	background-color: blue;
	color:#fff;
	font-weight: bold;
	font-size: 20px;
	border: none;
	display: block;
	cursor: pointer;
}
.app{
	padding: 10px;
	background-color: #f00;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	display: block;
	text-align: center;
	width: 500px;
	margin: 25px auto;
}