*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/LostArk_sample.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}
.hidden{
	display: none;
}
.btn{
	border: 0;
	background: transparent;
	font-family: inherit;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
.show__btn{
	background-color: #474b4f;
	padding: 8px 12px;
	border-radius: 8px;
	transition: background 0.5s;
}
.show__btn:hover{
	background-color: #3a3d40;
	border: 0;
	outline: hidden;
}
.show__btn:active{
	background-color: #3a3d40;
	border: 0;
	outline: hidden;
}
.modal{
	position: fixed;
	max-width: 600px;
	width: 100%;
	background-color: #f4f4f4;
	padding: 15px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	z-index: 100;
}
.modal__header{	
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.close__btn{
	color: #222;
	width: 25px;
	height: 25px;
	position: relative;
}
.close__btn::after{
	content: '';
	position: absolute;
	width: 33px;
	height: 4px;
	background-color: rgb(59, 55, 55);
	display: inline-block;
	transform: rotate(45deg);
	top: 10px;
	left: -5px;
	border-radius: 30px;
}
.close__btn::before{
	content: '';
	position: absolute;
	width: 33px;
	height: 4px;
	background-color: rgb(59, 55, 55);
	display: inline-block;
	transform: rotate(-45deg);
	top: 10px;
	left: -5px;
	border-radius: 30px;
}
.modal__title{
	margin-bottom: 15px;
}
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}