.success{
	color:rgb(0, 17, 0);
	border: 1px solid rgb(0, 17, 255);
	background-color: rgb(0, 17, 255);
}
.error{
	color:#000;
	border: 1px solid red;
	background-color: red;
}
.margin{
	text-align: center;
	padding: 10px 0px;
}
.warning{
	color: yellow;
	font-weight: bold;
}
.dark{
	color: #909090;
	font-weight: bold;
}
.red{
	color:red;
	font-weight: bold;
}
.sit{
	color: green;
	font-weight: bold;
}